/* input {
    width: auto;
    display: block;
    padding: 5px;
    border-radius: 3px;
} */

/* input:focus {
    border-color: rgb(255, 217, 3);
} */

/* input:valid {
    border-color: green;
    border-width: 5px;
    background-color: rgba(0, 128, 0, 0.358);
    transition: opacity 0.3s, visibility 0s 0.3s;
} */
input:invalid ~ .alertCost {
    visibility: visible;
    opacity: 1;
}

/* input:invalid {
    border-color: red;
    border-width: 5px;
} */

/* input:not(:focus):invalid {
    background-color: rgba(255, 0, 30, 0.314);
} */

#inputGroupSelect02 {
    background-color: aquamarine;
    color: blue;
    border-color: blue;
}

#inputGroupSelect01 {
    background-color: aquamarine;
    color: blue;
    border-color: blue;
}

.rowBottom {
    /* position: relative; */
    margin-bottom: 70px;
    /* display: inline-block; */
}


.alertCost {
    background: tomato;
    /* display: block; */
    border-radius: 5px;
    position: absolute;
    width: 250px;
    transform-style: preserve-3d;
    /* transform: translate(50%, -150%); */
    top: 50px;
    left: 450px;
    height: 30px;
    /* right: auto; */
    /* bottom: auto;  */
    z-index: 1;
    will-change: opacity, visibility;
    transition: opacity 0.3s ease-out;
    visibility: hidden;
    opacity: 0;   
}

.alertCost:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -5px;
    /* padding-left: 0px; */
    top: -9px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid tomato;
    /* color: blue; */
}

